<!DOCTYPE html>
<html ng-app="myfirstApp">
<head>
	<title>Assignment1</title>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	
	<div ng-controller="MyfirstController">
		<h1>Coursera Assignment1</h1>
		<input type="text" ng-model="name"><button type="button">Check If Too Much</button>
		<p>My name is {{name}}</p>
		{{sayHello()}}
	</div>
	<hr>

	<div ng-controller="NameCalculatorContoller">
		<h1>Name Calulator</h1>
		Your name: <input type="text" name="" ng-model="name" ng-keyup="displayNumeric()">
		<p>The numeric value of your name is {{totalValue}}</p>
	</div>
	<hr>

	<div ng-controller="DIController">
		<h1>Name Calulator</h1>
		Your name: <input type="text" name="" ng-model="name" ng-blur="upper();">
		
	</div>
</body>
</html>